.root {
    -fx-background-color: #f3f3f3;
}

.button {
    -fx-background-color: linear-gradient(to right, orange, hotpink);
    -fx-text-fill: white;
    -fx-padding: 5px 20px;
    -fx-font-size: 18px;
}